* {
  font-family:Helvetica;


}

#container {
  display:block;
  text-align:center;
  margin:auto;
  color:black;
  margin-top:15px;
  margin-bottom:15px;
}

header {
  background-image:url("images/the-flatiron-building.png");
}

h1 {
  font-size:70px;
  font-weight:bold;
  color:white;
}

h3 {
  font-size:32px;
  font-weight:bold;
}

h4 {
  font-size:23px;
  font-weight:bold;
}

p {
  font-size:14px;
}

#foot {

  display:inline;
  justify-content:start;
  margin: none;
  height:28px;
  padding:none;
  text-align:left;

}

.foot-link {
  font-weight:bold;
  text-decoration:underline;
  color:white;
  font-size: 14px;
}

.box {
  width:auto;
}

.copyright {
  font-size:11px;
  color:white;
  background:dimgray;
}

.designed-bar{
  background-image:url("images/the-flatiron-building.png");
  color:white;
}

.link {
  font-size:18px;
  color:white;
  text-decoration:underline;
}
